

#appContent{
	-fx-background-color: #1d1d1d;
	-fx-border-color: transparent;
	-fx-border-width: 1px 0px 1px 0px;
}

/*********** Fancy left side ***********/

VBox#left_side{
	-fx-padding: 1em 1em 1em 1em;
	-fx-border-color: derive(#1d1d1d,20%);
	-fx-border-width: 0px 5px 0px 0px;
}



VBox#left_side VBox{
	-fx-padding: 1em 0em 1em 1em;	
}

VBox#left_side VBox HBox{
	-fx-spacing: 0.5em;
	-fx-alignment: center;
}

VBox#left_side VBox HBox Button{
	-fx-padding: 5 5 5 5; 
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1.5;
    -fx-background-radius: 2;
    -fx-font-size: 8pt;
}

VBox#left_side VBox Label{
	-fx-text-fill: white;
	-fx-font-size: 11pt;	
}

#left_side Text{
	-fx-font-size: 1.5em ;
	-fx-fill: white;
}


/*********** Fancy right side ***********/

VBox#right_side{
	-fx-padding: 1em 1em 1em 1em;
}

VBox#right_side GridPane{
	-fx-padding: 1em 1em 1em 0em;	
	-fx-alignment: center;
	-fx-hgap: 1em;
	-fx-vgap: 0.5em;
}


VBox#right_side GridPane Text{
	-fx-font-size: 1.7em ;
	-fx-font-style: oblique  ;
	-fx-fill: white;
}

VBox#right_side GridPane TextField{
	-fx-font-size: 13.5pt;
	-fx-alignment: center;
}

/*********** Bottom bar ***********/

Pane#bottom_bar{
	-fx-background-color: derive(#1d1d1d,20%);
}

Label#currentFileText{
	-fx-font-size: 10pt;
	-fx-text-fill: white;
	-fx-padding: 5 2 5 10;
	-fx-alignment:center-left ;
}

/* = ============================================ = */

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 11pt;
}





/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-border-radius: 3;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
